.top {
	display: flex;
	flex-direction: row;
	margin-top: 8%;
	margin-bottom: 5%;
}

.top .box {
	min-width: 390px;
	min-height: 215px;
}

/* Override skeleton.css's paddings */
.paytable th, .paytable td {
	padding: 5px 5vw;
}

.paycontent th, .paycontent td {
	padding: 5px 2vw;
}

.boxadj {
	margin-right: 4.5vw;
}

.paycontent {
	align-items: flex-start;
}

tfoot td {
	border-bottom: none;
}

.buttonlist {
	flex-direction: row;
}

#companysettings {
	display:flex;
	flex-direction: column;
	align-items: flex-start;
}