html {
	height: 100%;
}

body {
	color: lightgrey;
	background-size: cover;
	background: radial-gradient(75.8% 75.8% at 9.58% 5.45%, rgba(0, 39, 67, 0.572) 0%, rgba(37, 14, 34, 0.441) 100%),
	radial-gradient(70.76% 55.39% at 92.08% 71.34%, rgba(13, 83, 132, 0.505) 0%, rgba(90, 7, 76, 0.112) 100%),
	radial-gradient(208.59% 73.25% at 145.49% -11.22%, rgba(219, 0, 255, 0.2) 0%, rgba(0, 0, 0, 0) 100%),
	radial-gradient(987.16% 508.19% at -87.14% 103.95%, #180e18 0%, #0D302E 100%) ;
	height: 100%;
}

.currency {
	color:#00bd5b;
}

.hours {
	color:#00bcbc;
}

.centered {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.aTagAsButton {
	-moz-appearance: button;
	-ms-appearance: button;
	-o-appearance: button;
	-webkit-appearance: button;
	appearance: button;
	display: inline-block;
	height: 38px;
	padding: 0 30px;
	text-align: center;
	font-size: 11px;
	line-height: 38px;
	letter-spacing: .1rem;
	text-transform: uppercase;
	text-decoration: none;
	white-space: nowrap;
	background-color: transparent;
	border-radius: 4px;
	cursor: pointer;
	box-sizing: border-box; 
}

.greenButton, input[type=button], input[type=submit] {
	background: linear-gradient(#63B855 100%, #47903B 100%);
	color: white;
	font-weight: 700;
	border: none;
}

.greenButton:hover, input[type=button]:hover, input[type=submit]:hover {
	background: linear-gradient(#47903B 100%, #63B855 100%);
	color: white;
}

.greenButton:active, input[type=button]:active, input[type=submit]:active {
	background: linear-gradient(#47903B 100%, #63B855 100%);
	color: white;
}

.cyanButton, input[type=button] {
	background: linear-gradient(#4155c6 100%, #3b4990 100%);
	color: white;
	font-weight: 700;
	border: none;
}

.cyanButton:hover, input[type=button]:hover {
	background: linear-gradient(#3b4990 100%, #4155c6 100%);
	color: white;
}

.cyanButton:active, input[type=button]:active {
	background: linear-gradient(#3b4990 100%, #4155c6 100%);
	color: white;
}


.box {
	backdrop-filter: blur(16px) saturate(180%);
	-webkit-backdrop-filter: blur(16px) saturate(180%);
	background-color: rgba(10, 11, 28, 0.75);
	border-radius: 12px;
	border: 1px solid rgba(255, 255, 255, 0.125);
	padding: 2vw;
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: space-evenly;
	align-items: center;
}

.logo {
	font-size: 50px;
	font-weight: 100;
	padding-left: 50px;
	padding-top: 50px;
	/* position: fixed; */
}

.logo a {
	color: lightgrey;
	text-decoration: none;
	text-shadow: 0 1px 4px rgb(150 150 150 / 50%);
}

input[type=text], #contactcontainer input[type=textarea] {
	border: 2px solid rgba(255,255,255,0.125);
	background: #131728;
	border-radius: 4px;
	height: 35px;
	width: 350px;
}

textarea {
	width: 100%;
	height: 197px;
	border: 2px solid rgba(255,255,255,0.125);
	background: #131728;
	border-radius: 4px;
	min-width: 757px;
	min-height: 32px;
}