{% extends "skeleton" %}

{% block title %}TimeKeeper - New Company{% endblock %}

{% block head %}
<link rel="stylesheet" href="/static/css/addcompany.css" type="text/css">
{% endblock %}

{% block body %}
<h1 class="logo"><a href="/">TimeKeeper</a></h1>
<div class="centered">

	<div class="box listbox">
		<h2 class="title">New Company</h2>
		<h5>Add a new company below</h5>
		<form method="POST" action="/addcompany/" id="companysettings">
			<input type="text" name="name" placeholder="Name" id="leftfield">
			<input type="text" name="description" placeholder="Description" id="leftfield">
			<input type="text" class="currency" name="payrate" placeholder="Pay Rate" id="leftfield">
			<input type="submit" class="greenButton" value="Add Employer" style="align-self: center;">
			{# <button class="greenButton">Update Profile</button> #}
		</form>
	</div>

</div>

{% endblock %}


{% block scripts %}
<!-- Script block here -->
{% endblock %}