{% extends "skeleton" %}

{% block title %}TimeKeeper - {{company.name}}{% endblock %}

{% block head %}
<link rel="stylesheet" href="/static/css/company.css" type="text/css">
{% endblock %}

{% block body %}
<h1 class="logo"><a href="/">TimeKeeper</a></h1>
<div class="centered">
	<div class="top">
		<div class="box boxadj">
			<div class="paycontent">
				<h2 class="title">{{company.name}}</h2>
				<div class="companycontent">
					<h5>{{company.description}}</h5>
					<form action="#" id="companysettings">
						<input type="text" name="description" placeholder="Description" id="leftfield" value="{{company.description}}">
						<input type="text" class="currency" name="payrate" placeholder="Pay Rate" id="leftfield" value="{{company.rate}}">
						<label for="activelyemployed">Active Employer:</label>
						<input type="checkbox" id="activelyemployed" name="activelyemployed" id="leftfield" {% if company.active %}checked{% endif %}>
						<input type="submit" class="greenButton" value="Update Profile" style="align-self: center;">
						{# <button class="greenButton">Update Profile</button> #}
					</form>
				</div>
			</div>
		</div>

		<div class="box">
			<div class="paycontent">
				<h2 class="title">Current Pay Period</h2>
				{% if exists("currentperiod") %}
					<span>Period Rate: <span class="currency">${{currentperiod.rate}}</span></span>
					{% if exists("currentworkdays") %}
						<table class="paytable">
							<thead>
								<tr>
									<th>#</th>
									<th>Start</th>
									<th>End</th>
									<th>Hours</th>
									<th>Pay</th>
								</tr>
							</thead>
							<tbody>
								{% for workday in currentworkdays %}
									<tr>
										<td>{{workday.id}}</td>
										<td>{{workday.timein}}</td>
										<td>{{workday.timeout}}</td>
										<td class="hours">??</td>
										<td class="currency">$??</td>
									</tr>
								{% endfor %}
							</tbody>
							<tfoot>
								<tr>
									<td colspan="3">3</th>
									<td class="hours">192h</th>
									<td class="currency">$3264</th>
								</tr>
							</tfoot>
						</table>
					{% else %}
						<h5>No work periods exist yet<h5>
					{% endif %}
					</div>
					<div class="buttonlist">
						{% if clockedin %}
							<button class="greenButton">Clock-Out</button>
						{% else %}
							<button class="greenButton">Clock-In</button>
						{% endif %}
						<button class="cyanButton">Finalize Period</button>
					</div>
				{% else %}
					<h5>No work periods exist yet</h5>
					<button class="greenButton">Clock-In</button>
				{% endif %}
			</div>
		</div>
	</div>

	<div class="box">
		<h2 class="title">Pay Periods</h2>
		{% if exists("payperiods") %}
			<table class="paytable">
				<thead>
					<tr>
						<th>#</th>
						<th>Start</th>
						<th>End</th>
						<th>Hourly Rate</th>
						<th>Hours</th>
						<th>Pay</th>
					</tr>
				</thead>
				<tbody>
					{% for period in payperiods %}
						<tr>
							<td>{{period.id}}</td>
							<td>{{period.begin}}</td>
							<td>{{period.end}}</td>
							<td class="currency">${{period.rate}}</td>
							<td class="hours">??</td>
							<td class="currency">$??.?</td>
						</tr>
					{% endfor %}
				</tbody>
				<tfoot>
					<tr>
						<td colspan="4">3</th>
						<td class="hours">192h</th>
						<td class="currency">$3264</th>
					</tr>
				</tfoot>
			</table>
		{% else %}
			<h5>No pay periods exist</h5>
		{% endif %}
	</div>
</div>

{% endblock %}


{% block scripts %}
<!-- Script block here -->
{% endblock %}