{% extends "skeleton" %}

{% block title %}TimeKeeper - Companies{% endblock %}

{% block head %}
<link rel="stylesheet" href="/static/css/landing.css" type="text/css">
{% endblock %}

{% block body %}
<h1 class="logo"><a href="/">TimeKeeper</a></h1>
<div class="centered">
	<div class="box listbox">
		<h2 class="title">Active Employers</h2>
		{% if exists("companies") %}
		<table>
			<tr>
				<th>Company</th>
				<th>Description</th>
				<th>Period Hours Worked</th>
				<th>Period Wages Earned</th>
				<th>Total Hours Worked</th>
				<th>Total Wages Earned</th>
			</tr>
			{% for company in companies %}
				<tr>
					<td><a href="/company/{{company.id}}">{{company.name}}</a></td>
					<td>{{company.description}}</td>
					<td><span class="hours">12.5</span></td>
					<td><span class="currency">$212.50</span></td>
					<td><span class="hours">217.5</span></td>
					<td><span class="currency">$3697.50</span></td>
				</tr>
			{% endfor %}
		</table>
		{% else %}
			<div>You have no active employers.</div>
		{% endif %}
		<a href="/addcompany/" class="aTagAsButton greenButton">Add Employer</a>
		{# <button class="greenButton" onclick="window.location.href='/addcompany/';">Add Employer</button> #}
	</div>

	<div class="box listbox">
		<h2 class="title">Inactive Employers</h2>
		{% if exists("inactivecompanies") %}
		<table>
			<tr>
				<th>Company</th>
				<th>Description</th>
				<th>Period Hours Worked</th>
				<th>Period Wages Earned</th>
				<th>Total Hours Worked</th>
				<th>Total Wages Earned</th>
			</tr>
			{% for company in inactivecompanies %}
				<tr>
					<td><a href="/company/{{company.id}}">{{company.name}}</a></td>
					<td>{{company.description}}</td>
					<td><span class="hours">12.5</span></td>
					<td><span class="currency">$212.50</span></td>
					<td><span class="hours">217.5</span></td>
					<td><span class="currency">$3697.50</span></td>
				</tr>
			{% endfor %}
		</table>
		{% else %}
			<div>You have no inactive employers.</div>
		{% endif %}
	</div>
</div>
{% endblock %}


{% block scripts %}
<!-- Script block here -->
{% endblock %}