{# The point of this document is to have all pages inherit from it. #}
{# This inheritance makes all pages equal in how their HTML is formatted. #}
{# there are basic 'head' and 'body' blocks for most of the content as well #}
{# as 'scripts' and 'title' blocks. #}
{# This file has been in every django project I ever worked on and it doesn't change much. #}
<!DOCTYPE html>
<html>
<head>
	<title>{% block title %}{% endblock %}</title>
	<meta charset='utf-8'>
	<link rel="shortcut icon" href="/static/img/favicon.ico" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/static/css/normalize.css" type="text/css">
	<link rel="stylesheet" href="/static/css/skeleton.css" type="text/css">
	<link rel="stylesheet" href="/static/css/global.css" type="text/css">
	{% block head %}
	{% endblock %}
</head>
<body>
{% block body %}
{% endblock %}

{% block scripts %}
{% endblock %}
</body>
</html>